.func-text {
  color: blue;
  font-size: 12px;
  cursor: pointer;
  margin-top: 5px;
  text-align: right;
  width: fit-content;
  margin-left: auto;
}

.func-text:hover {
  color: #5e96fd;
}

.list-container {
  height: 310px;
}

.input-container {
  display: flex;
}

.empty-list-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.head{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
